﻿@import '../../style/constants.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.mtb {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: $main-color;
    text-decoration: underline;

    &:hover {
        color: darken($main-color, 10%);
    }
}

h1 {
    margin-top: 20px;
}

.form-control:focus {
    border-color: $main-color;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba($main-color,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba($main-color,.6);
}

.btn-default {
    background-color: #fff;
    border-color: #adadad;
}

.page {
    margin-top: 140px;
}

@media (min-width: 1585px) {
    .container {
        max-width: 1570px;
    }
}

.btn.focus, .btn:focus {
    box-shadow: unset;
}
