﻿$mobile-size: 635px;

$main-color: #ffdd26;
$sub-main-color: #FFD700;
$text-color: #24292e;
$sub-text-color: #929497;
$background-second: #f6f6f7;

@mixin primary-btn {
    color: $text-color;
    background-color: $main-color;
    border-color: $main-color;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 40px;
    font-weight: bold;

    &:hover:not(:disabled) {
        background-color: darken($main-color, 10%);
        border-color: darken($main-color, 10%);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #F7F7F8;
        border-color: #F7F7F8;
        opacity: unset;
    }

    &.active:focus {
        background-color: darken($main-color, 10%);
        border-color: darken($main-color, 10%);
    }
}

@mixin close-btn ($size) {
    opacity: 0.3;
    cursor: pointer;
    width: $size;
    height: $size;
    display: inline-block;
    position: relative;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: $size;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

@mixin count-btn {
    background: #F7F7F8;
    border-radius: 3px;
    width: 52px;
    height: 52px;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        background-color: $main-color;
    }
}

@mixin mobile() {
    @media only screen and (max-width: $mobile-size) {
        @content;
    }
}