﻿<div class="container">
    <div class="page">
        <h1>Публичная оферта о продаже товаров дистанционным способом (действует с 15 июня 2018 года)</h1>

        <h4>1. Термины и определения</h4>
        <p>1.1. В настоящей оферте, если из контекста не следует иное, нижеприведенные термины с заглавной буквы имеют следующие значения.</p>
        <p>1.1.1. «Курьерская служба» – лица, оказывающие услуги по доставке Товаров от имени Продавца, или сотрудники Продавца.</p>
        <p>1.1.2. «Продавец» – ИП Крупнин Роман Станиславович, ИНН 525817591571, ОГРНИП 316525800050850.</p>
        <p>1.1.3. «Покупатель» – любое дееспособное лицо, намеренное заказать или приобрести, либо заказывающий, приобретающий или использующий Товары исключительно для личных, семейных, домашних или иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
        <p>1.1.4. «Сайт» – barabeq.ru.</p>
        <p>1.1.5. «Телефон» – 8 (831) 230-4000, 8 (831) 235-1772.</p>
        <p>1.1.6. «Товары» – перечень продукции Продавца, представленный на Сайте. Товары могут отличаться от изображения на Сайте. Потребительские свойства Товара указаны на Сайте.</p>
        <p>1.2. Для целей настоящей оферты термины и определения в единственном числе относятся также и к терминам и определениям во множественном числе.</p>
        <p>1.3. Условия настоящей оферты действуют для Сайта, если иное прямо не предусмотрено настоящей офертой.</p>

        <h4>2. Общие положения</h4>
        <p>2.1. Продавец и Покупатель гарантируют, что обладают необходимой право- и дееспособностью, а также всеми правами, необходимыми для заключения и исполнения договора розничной купли-продажи дистанционным способом.</p>
        <p>2.2. Покупатель обязуется ознакомиться с условиями настоящей оферты, с информацией, указанной на Сайте в отношении Товаров, с условиями участия в Бонусной программе, Пользовательским соглашением.</p>
        <p>2.3. Продавец оставляет за собой право вносить изменения в настоящую оферту, в связи с чем Покупатель обязуется самостоятельно отслеживать наличие изменений в настоящей оферте.</p>
        <p>2.4. При оформлении заказа Товаров Покупатель тем самым подтверждает, что он исполнил обязанности, предусмотренные пунктом 2.2. настоящей оферты.</p>
        <p>2.5. Договор розничной купли-продажи дистанционным способом считается заключенным с момента получения Продавцом сообщения о намерении Покупателя приобрести Товары.</p>
        <p>2.6. Срок, в течение которого действует предложение о заключении договора розничной купли-продажи дистанционным способом, является бессрочным.</p>

        <h4>3. Предмет Договора</h4>
        <p>3.1. Продавец продает Товары, указанные на Сайте, по ценам, представленным на Сайте, доставляет Товар Курьерской службой, а Покупатель производит оплату и принимает Товары в соответствии с условиями настоящей оферты.</p>
        <p>3.2. Право собственности и риск случайной гибели/повреждения Товаров переходит к Покупателю в момент приемки Товаров Покупателем.</p>
        <p>4. Уведомления Покупателя</p>
        <p>4.1. Продавец (или иное лицо по поручению Продавца) вправе отправлять сервисные сообщения (в том числе push-уведомления), информирующие Покупателя о совершенном им заказе, его составе, этапах его обработки и о готовности заказа; такие сервисные сообщения отправляются автоматически, не могут быть отклонены Покупателем, направлены на контроль качества оказания услуг Покупателю и его информирование о надлежащем исполнении Продавцом своих обязательств по договору купли-продажи дистанционным способом.</p>

        <h4>5. Оформление заказа Товаров</h4>
        <p>5.1. Заказ Покупателя может быть оформлен по Телефону и/или посредством заполнения электронной формы заказа на Сайте.</p>
        <p>5.2. Покупатель обязуется предоставить достоверные данные, необходимые и достаточные для исполнения договора розничной купли-продажи Товаров дистанционным способом.</p>
        <p>5.3. В случае возникновения у Покупателя дополнительных вопросов, касающихся Товаров, перед оформлением заказа, Покупатель должен обратиться к Продавцу по Телефону для получения необходимой информации, в соответствии с режимом работы, указанным на Сайте.</p>
        <p>5.4. Покупатель может заказать только те Товары, которые есть в наличии у Продавца в момент оформления заказа Товаров у Продавца.</p>
        <p>5.5. Покупатель имеет право удалить ингредиенты из состава Товара, при наличии технической возможности, при этом цена на Товар не меняется.</p>
        <p>5.6. Покупатель не имеет право изменить состав заказа после его оформления на Сайте.</p>
        <p>5.7. При оформлении заказа по Телефону Продавец вправе осуществлять аудиозапись телефонного разговора с Пользователем, если указанные действия необходимы Продавцу для исполнения обязанностей, предусмотренных настоящей офертой, и оценки качества оказанных услуг, без получения от Пользователя согласия на совершение указанных действий.</p>
        <p>5.8. При оформлении заказа посредством заполнения электронной формы заказа на Сайте Покупатель создает учетную запись в соответствии с Пользовательским соглашением, указанным на Сайте.</p>
        <p>5.9. Если у Продавца отсутствует необходимое количество или ассортимент заказанных Покупателем Товаров, Продавец информирует об этом Покупателя по телефону в течение 90 минут после получения заказа Товаров от Покупателя. Покупатель вправе согласиться принять Товары в ином количестве или ассортименте, либо аннулировать свой заказ Товаров. В случае неполучения ответа Покупателя Продавец вправе аннулировать заказ Покупателя в полном объеме.</p>
        <p>5.10. Продавец вправе временно приостановить прием заказов Товаров в случае технических неполадок, не позволяющих принять заказа Товаров, или отсутствия ингредиентов, необходимых для изготовления Товаров.</p>

        <h4>6. Доставка Товаров</h4>
        <p>6.1. Доставка Товаров осуществляется Курьерской службой по фактическому адресу, указанному Покупателем, при оформлении заказа или выборкой Товаров Покупателем (самовывозом).</p>
        <p>6.2. Доставка Товаров в пределах зоны доставки осуществляется в соответствии с режимом работы Продавца, указанным на Сайте.</p>
        <p>6.3. Доставка Товаров по адресам, не входящим в зону доставки, не осуществляется.</p>
        <p>6.4. В случае нарушения установленных сроков доставки Товаров, в силу обстоятельств непреодолимой силы («форс-мажор») в соответствии с Разделом 9 настоящей оферты Продавец не считается просрочившим доставку.</p>
        <p>6.5. Доставка осуществляется при условии заказа Товаров на сумму минимального заказа. Сумма минимального заказа определяется Продавцом в одностороннем порядке и указывается на Сайте.</p>
        <p>6.6. Продавец вправе отказаться от исполнения договора розничной купли-продажи дистанционным способом в том случае, если Курьерская служба по прибытии к фактическому адресу доставки Покупателя, не может осуществить фактическую передачу доставленных Товаров по вине Покупателя (Покупатель в течение 10 минут не отвечает на телефонный вызов или не открывает дверь Курьерской службе).</p>

        <h4>7. Оплата Товаров</h4>
        <p>7.1. Цены на Товары определяются Продавцом в одностороннем порядке и указываются на Сайте. Цена на заказанный Покупателем Товар изменению не подлежит.</p>
        <p>7.2. Оплата Товаров Покупателем производится в рублях Российской Федерации одним из следующих способов:</p>
        <p>7.2.1. оплата осуществляется по факту получения Товаров наличными денежными средствами, оплата наличными денежными средствами ограничена максимальной суммой. Максимальная сумма заказа, при которой возможна оплата наличными денежными средствами, определяется Продавцом в одностороннем порядке и указывается только на Сайте. На дату публикации настоящей оферты составляет 7 тысяч рублей. Заказ превышающий размер указанной максимальной суммы оплачивается в соответствии с п.7.2.2. настоящей оферты;</p>
        <p>7.2.2. безналичными расчетами банковской картой на Сайте, в Мобильном приложении. В соответствии с положением ЦБ РФ "Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт" № 266-П от 24.12.2004 года операции по банковским картам совершаются держателем карты либо уполномоченным им лицом;</p>
        <p>7.2.3. безналичными расчетами банковской картой по факту получения Товаров, при условии оснащения Курьерской службы мобильными POS-терминалами (о наличии возможности произвести оплату Товаров данным способом следует уточнять у Продавца).</p>
        <p>7.3. Выдача либо направление Покупателю кассового чека:</p>
        <p>7.3.1. На бумажном носителе, в случае совершения заказа Товаров через Телефон и оплаты в порядке, предусмотренном пунктом 7.2.1 настоящей оферты, пунктом 7.2.3 настоящей оферты, если Покупатель в момент совершения заказа не выполнил условия, предусмотренные пунктом 7.4. настоящей оферты.</p>
        <p>7.3.2. В электронном виде на электронную почту Покупателя, в случае совершения заказа Товаров через Сайт и оплаты Товаров в порядке, предусмотренном пунктом 7.2.2 настоящей оферты, если Покупатель выполнил условия пункта 7.4. настоящей оферты.</p>
        <p>7.4. Условием направления кассового чека в электронном виде Покупателю является внесение Покупателем данных об адресе электронной почты в личную учетную запись на Сайте при регистрации в порядке, предусмотренном Пользовательским соглашением.</p>
        <p>7.5. Покупатель вправе в любое время обратиться к Продавцу с просьбой об отмене транзакции при оплате заказа путем безналичного расчета банковской картой. Решение о возврате денежных средств принимается Продавцом с учетом требований законодательства РФ и всех сложившихся обстоятельств.</p>

        <h4>8. Возврат и обмен Товаров</h4>
        <p>8.1. Возврат Товара надлежащего качества не допускается.</p>
        <p>8.2. Продавец обязан передать Покупателю Товары, которые полностью соответствуют его заказу, качество которых соответствует информации, представленной Покупателю при заключении договора розничной купли-продажи дистанционным способом, а также информации, доведенной до его сведения при передаче Товаров (на этикетке или вкладыше, прикрепленных к Товарам или их упаковке, либо другими способами, предусмотренными для отдельных видов Товаров).</p>
        <p>8.3. При получении Товаров Покупатель проверяет соответствие полученных Товаров своему заказу, комплектность и отсутствие претензий к внешнему виду доставленных Товаров в течение 10 (Десяти) минут после получения Товаров.</p>
        <p>8.4. В случае получения некачественных Товаров, либо несоответствия полученных Товаров заказанному (отсутствие заявленных ингредиентов в Товаре), Покупатель вправе потребовать замены таких Товаров Товарами надлежащего качества сразу в течение 5 (Пяти) минут после проверки соответствия полученного Товаров.</p>
        <p>8.5. В случае невыполнения порядка предъявления претензии Покупателя по внешнему виду Товаров и их комплектности, предусмотренных пунктом 8.3, пунктом 8.4 настоящей оферты, претензии не принимаются.</p>

        <h4>9. Форс-мажор</h4>
        <p>9.1. Любая из Сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по настоящей оферте, если это неисполнение было вызвано обстоятельствами непреодолимой силы. Обстоятельства непреодолимой силы означают чрезвычайные события и обстоятельства, которые Стороны не могли ни предвидеть, ни предотвратить разумными средствами. Такие чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, наводнения, пожары, землетрясения и иные стихийные бедствия, войны, военные действия и так далее.</p>

        <h4>10. Ответственность Сторон публичной оферты</h4>
        <p>10.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования им Товаров, приобретённых у Продавца.</p>
        <p>10.2. Продавец не отвечает за убытки Покупателя, возникшие в результате неправильного заполнения заказа, в том числе неправильного указания своих данных.</p>
        <p>10.3. В случае злоупотребления Покупателем правами потребителя, включая, но не ограничиваясь, если Покупатель отказался от приемки и/или оплаты заказанного и доставленного Товара, Продавец вправе реализовать свое право на самозащиту, а именно: не принимать от него будущие заказы.</p>
        <p>10.4. В случае одностороннего отказа Продавца от исполнения договора розничной купли-продажи дистанционным способом в соответствии с пунктом 6.6. настоящей публичной оферты, Продавец вправе вправе реализовать свое право на самозащиту, взыскать убытки с Покупателя. В случае, если Покупатель оплатил Товар до его доставки, оплаченная сумма не возвращается.</p>

        <h4>11. Политика конфиденциальности</h4>
        <p>11.1. Персональные данные Покупателя обрабатываются в соответствии с ФЗ «О персональных данных» №152-ФЗ.</p>
        <p>11.2. Предоставляя свои персональные данные при регистрации/оформлении заказа на Сайте или по Телефону Покупатель соглашается на их обработку Продавцом, в том числе и в целях выполнения Продавцом обязательств перед Покупателем, информирования Покупателя о своих услугах, продвижения товаров и услуг Продавца, в том числе по сетям электросвязи, но не ограничиваясь ими, а так же проведения электронных и sms опросов, контроля маркетинговых акций, клиентской поддержки, организации доставки товара Покупателю, проведение розыгрышей призов среди Покупателей, контроля удовлетворенности Покупателя, а также качества услуг, оказываемых Курьерской службой.</p>
        <p>11.3. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
        <p>11.4. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Покупателя с его согласия. Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин отказа. Сервисные сообщения, информирующие Покупателя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Покупателем. Отзыв согласия на обработку персональных данных осуществляется путем отправки сообщения на адрес info@barabeq.ru.</p>
        <p>11.5. Продавец вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию, и Продавец вправе передавать информацию о «cookies» Партнерам, агентам и третьим лицам, имеющим заключенные с Продавцом договоры, для исполнения обязательств перед Покупателем и для целей статистики и оптимизации рекламных сообщений.</p>
        <p>11.6. Продавец получает информацию об ip-адресе посетителя Сайта. Данная информация не используется для установления личности Покупателя.</p>
        <p>11.7. Продавец вправе осуществлять записи телефонных разговоров с Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению заказов в соответствие с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и защите информации».</p>
    </div>
</div>