﻿<div class="container-page">
    <h1>Личный кабинет</h1>

    <div class="name-control">
        <input [formControl]="formGroup.get('name')" class="form-control" placeholder="Имя" />
        <button (click)="save()" [disabled]="formGroup.get('name')?.invalid || !formGroup.get('name')?.dirty" class="btn btn-save">Сохранить</button>
    </div>

    <div class="label-control">
        <label>Телефон:</label>
        <span>{{formGroup.get('phone')?.value}}</span>
    </div>
    <div class="label-control">
        <label>Количество Jet-рублей:</label>
        <span>{{bonus}}</span>
    </div>

    <button (click)="logout()" class="btn btn-exit">Выйти</button>
</div>
