﻿@import "../../style/constants.scss";

:host {
    display: block;
    min-height: 50vh;
    font-size: 20px;
    padding: 140px 0;

    @include mobile() {
        font-size: 16px;
        padding: 30px 0;
    }
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    margin-bottom: 90px;

    @include mobile() {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.container-page {
    margin: 0 auto;
    max-width: 785px;
    padding: 0 15px;
}

.name-control {
    display: flex;

    @include mobile() {
        display: block;
    }

    input {
        border-radius: 2em;
    }

    .btn-save {
        margin-left: 30px;
        @include primary-btn();

        @include mobile() {
            font-size: 14px;
            width: 100%;
            margin: 15px 0 0 0;
        }
    }
}

.label-control {
    margin-top: 30px;

    @include mobile() {
        display: flex;
        justify-content: space-between;
    }

    label {
        font-weight: bold;
        width: 260px;

        @include mobile() {
            width: unset;
        }
    }

    span {
        white-space: nowrap;
    }
}

.btn-exit {
    @include primary-btn();
    background-color: #F7F7F8;
    border-color: #F7F7F8;
    margin-top: 30px;

    @include mobile() {
        font-size: 14px;
        width: 100%;
    }
}
