﻿<div class="container">
    <h1>Наши преимущества</h1>
    <div class="advantage">
        <div class="advantage__card">
            <div class="advantage__card-img">
                <img src="/images/advantage/discount.png" />
            </div>
            <div class="advantage__card-text">Цена</div>
            <div class="advantage__card-subtext">
                Дешевле только
                в Эквадоре
            </div>
        </div>
        <div class="advantage__card">
            <div class="advantage__card-img">
                <img src="/images/advantage/diamond.png" />
            </div>
            <div class="advantage__card-text">Качество</div>
            <div class="advantage__card-subtext">
                Наши цветы больше недели будут радовать покупателя, т.к. привезены не позднее 5 дней назад
            </div>
        </div>
        <div class="advantage__card">
            <div class="advantage__card-img">
                <img src="/images/advantage/guard.png" />
            </div>
            <div class="advantage__card-text">Гарантия</div>
            <div class="advantage__card-subtext">
                В случае если клиенту
                не понравился букет, вернем
                деньги
            </div>
        </div>
        <div class="advantage__card">
            <div class="advantage__card-img">
                <img src="/images/advantage/cacheback.png" />
            </div>
            <div class="advantage__card-text">КэшБэк</div>
            <div class="advantage__card-subtext">
                Вернем 5% на счет от суммы
                покупки
            </div>
        </div>
    </div>
</div>