﻿@import '../../style/constants.scss';
:host {
    margin: 140px 0;
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.advantage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantage__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin: 90px 20px 0;
}

.advantage__card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 194px;
    border-radius: 97px;
    box-shadow: 0 6px 18px rgba(255, 221, 38, 0.63);
    background-color: $main-color;
}

.advantage__card-text {
    margin-top: 30px;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
}

.advantage__card-subtext {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 9px;
    opacity: 0.5;
}