﻿<div class="container">
    <div class="page">
        <div class="row">
            <div class="col-md-4">
                <h1>Как заработать?</h1>
                <h3>Совершайте покупки</h3>
                <p>
                    5% от каждой покупки через сайт или оператора вернется автоматически.
                </p>
            </div>

            <div class="col-md-4">
                <h1>Как потратить?</h1>
                <h3>На сайте</h3>
                <p>
                    Используйте BBQ-рубли при оформлении заказа.
                </p>
            </div>

            <div *ngIf="displayBonus" class="col-md-4">
                <div class="card bonuses">
                    <div class="card-body">
                        У вас {{bonus}} BBQ-рублей
                    </div>
                </div>
            </div>
        </div>

        <h3>&nbsp;</h3>

        <h1>Как работает бонусная программа?</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="text">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="shopping-basket" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M564 192h-76.875L347.893 37.297c-5.91-6.568-16.027-7.101-22.596-1.189s-7.101 16.028-1.189 22.596L444.075 192h-312.15L251.893 58.703c5.912-6.567 5.379-16.685-1.189-22.596-6.569-5.912-16.686-5.38-22.596 1.189L88.875 192H12c-6.627 0-12 5.373-12 12v8c0 6.627 5.373 12 12 12h16.444L58.25 438.603C61.546 462.334 81.836 480 105.794 480h364.412c23.958 0 44.248-17.666 47.544-41.397L547.556 224H564c6.627 0 12-5.373 12-12v-8c0-6.627-5.373-12-12-12zm-77.946 242.201c-1.093 7.867-7.906 13.799-15.848 13.799H105.794c-7.942 0-14.755-5.932-15.848-13.799L60.752 224h454.497l-29.195 210.201zM304 280v112c0 8.837-7.163 16-16 16-8.836 0-16-7.163-16-16V280c0-8.837 7.164-16 16-16 8.837 0 16 7.163 16 16zm112 0v112c0 8.837-7.163 16-16 16s-16-7.163-16-16V280c0-8.837 7.163-16 16-16s16 7.163 16 16zm-224 0v112c0 8.837-7.164 16-16 16s-16-7.163-16-16V280c0-8.837 7.164-16 16-16s16 7.163 16 16z" class=""></path></svg>

                    <h3>Делайте заказы</h3>
                    BBQ-рубли начисляются при заказе на сайте и через оператора
                </div>
            </div>

            <div class="col-md-4">
                <div class="text">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="money-bill-wave" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M320 144c-53.02 0-96 50.14-96 112 0 61.85 42.98 112 96 112 53 0 96-50.13 96-112 0-61.86-42.98-112-96-112zm0 192c-35.29 0-64-35.89-64-80s28.71-80 64-80 64 35.89 64 80-28.71 80-64 80zM621.16 54.46C582.37 38.19 543.55 32 504.75 32c-123.17-.01-246.33 62.34-369.5 62.34C70.34 94.34 46.9 79 32.25 79 15.04 79 0 92.32 0 110.81v317.26c0 12.63 7.23 24.6 18.84 29.46C57.63 473.81 96.45 480 135.25 480c123.17 0 246.33-62.35 369.5-62.35 64.91 0 88.34 15.35 103 15.35 17.21 0 32.25-13.32 32.25-31.81V83.93c0-12.64-7.23-24.6-18.84-29.47zm-588.21 56.8c20.22 6.42 41.03 10.53 62.67 12.89-1.97 33.41-29.23 60.04-62.89 60.43l.22-73.32zM32 428.07l.13-42.54c33.58.07 60.88 26.31 63.38 59.43-22.45-3.04-43.63-8.45-63.51-16.89zm575.05-27.33c-20.16-6.4-40.9-10.51-62.47-12.87 2.89-32.5 29.69-58.14 62.69-58.52l-.22 71.39zm.31-103.54c-50 .34-90.59 39.32-94.58 88.6-70.73-1.43-137.18 15.82-200.6 31.87-75.07 19-126.54 31.21-184.41 29.87-1.23-52.02-43.48-94.01-95.55-94.13l.41-136.67c50.65-.34 91.72-40.32 94.78-90.52 70.53 1.41 137.02-15.83 200.4-31.87C402.6 75.41 454.3 63.13 512.03 64.46c.18 52.93 43.01 95.94 95.74 96.07l-.41 136.67zm.51-168.8c-34.24-.07-62.04-27.34-63.58-61.38 22.53 3.03 43.78 8.45 63.71 16.91l-.13 44.47z" class=""></path></svg>
                    <h3>Накапливайте BBQ-рубли</h3>
                    5% от суммы заказа возвращается на бонусный счет
                </div>
            </div>

            <div class="col-md-4">
                <div class="text">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="drumstick" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M471.24 57.59C439.61 21.97 396.02 1.55 348.46.06c-46.9-1.28-92.87 16.63-126.03 49.65C195.62 76.34 160 119.94 160 190.56v69.3l-43.37 43.37c-5.94 5.89-14.66 3.05-17.19 2.06-26.94-10.78-57.65-4.45-78.15 16.02C7.56 335.01 0 353.26 0 372.67c0 19.39 7.56 37.65 21.28 51.35 12.37 12.39 28.87 19.44 46.4 20.31.87 17.55 7.94 34.04 20.31 46.43 14.16 14.16 32.75 21.25 51.37 21.24 18.59 0 37.19-7.08 51.34-21.24 20.5-20.49 26.78-51.16 16-78.17-1-2.53-3.84-11.27 2.06-17.21l43.37-43.36h70.12c38.87 0 73-10.19 104.34-31.16 46.44-31.02 77.03-79.68 83.97-133.5 6.17-48.15-7.79-94.25-39.32-129.77zM186.12 372.78c-13.12 13.17-16.59 32.99-9.09 51.71 6 15.08 2.5 32.21-8.94 43.65-15.91 15.85-41.62 15.81-57.47 0-9.56-9.56-13.16-23.3-9.84-37.71l5.72-24.89-24.91 5.72c-14.25 3.25-28.09-.27-37.69-9.86-7.68-7.68-11.9-17.88-11.9-28.73 0-10.86 4.22-21.06 11.91-28.74 11.41-11.45 28.5-14.99 43.65-8.92 18.81 7.52 38.56 3.97 51.69-9.16l26.04-26.04c8.11 21.63 25.24 38.74 46.93 46.87l-26.1 26.1zm292.71-189.49c-5.66 43.99-31.81 85.46-70 110.98-25.91 17.33-54.22 25.75-86.56 25.75h-81.9c-26.69 0-48.37-21.53-48.37-48.01v-81.46c0-45.29 16.34-81.73 53-118.15 26.31-26.16 60.94-40.41 98-40.41 1.47 0 2.97.02 4.5.06 38.66 1.2 74.09 17.81 99.81 46.79 25.3 28.5 36.52 65.6 31.52 104.45z" class=""></path></svg>

                    <h3>Получайте заказ бесплатно</h3>
                    Оплачивайте BBQ-рублями часть заказа или целиком
                </div>
            </div>
        </div>
    </div>
</div>
