﻿@import '../../../style/constants.scss';

h1 {
    margin: 40px 0;
}

:host {
    font-size: 18px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

svg {
    color: $main-color;
    width: 1.125em;
    font-size: 5em;
}

.text {
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .text {
        text-align: left;
    }
}

.bonuses {
    margin-top: 40px;
    font-size: 1.75rem;
}

.divider {
    margin: 0 40px;
}