﻿<div class="container">
    <h1>Сделать заказ очень просто</h1>
    <div class="make-order">
        <div class="make-order__card">
            <div class="make-order__card-img">
                <img src="/images/make-order/what.png" />
            </div>
            <div class="make-order__card-text">Что</div>
            <div class="make-order__card-subtext">Выберите цвет и размер</div>
        </div>
        <div class="make-order__card">
            <div class="make-order__card-img">
                <img src="/images/make-order/when.png" />
            </div>
            <div class="make-order__card-text">Когда</div>
            <div class="make-order__card-subtext">
                Определите дату, время
                и место заказа
            </div>
        </div>
        <div class="make-order__card">
            <div class="make-order__card-img">
                <img src="/images/make-order/price.png" />
            </div>
            <div class="make-order__card-text">Почём</div>
            <div class="make-order__card-subtext">
                Выберете удобную
                форму оплаты
            </div>
        </div>
        <div class="make-order__card">
            <div class="make-order__card-img">
                <img src="/images/make-order/where.png" />
            </div>
            <div class="make-order__card-text">Где</div>
            <div class="make-order__card-subtext">
                В назначенное время
                Jet Букет будет у вас
            </div>
        </div>
    </div>
</div>