@import '../../style/constants.scss';

hr {
    border-color: #626262;
}

map {
    margin-top: 30px;
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.product-list-wrap {
    background-color: $background-second;
    display: flex;
    padding: 90px 0;
}