﻿<carousel></carousel>
<make-order></make-order>
<div class="clearfix"></div>
<div class="product-list-wrap">
    <div class="container product-list p-0">
        <product-list></product-list>
    </div>
</div>
<advantage></advantage>
<div class="container">
    <h1>Зона доставки</h1>
</div>
<map></map>