﻿@import '../../style/constants.scss';

.order-number{
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 21px;
    margin-bottom: 2rem;
    border: 2px solid $main-color;
    font-weight: bold;

    span {
        color: $main-color;
    }
}