﻿<div class="product-item__wrap">
    <div>
        <a [routerLink]="getProductLink()">
            <img [src]="getProductImageUrl()" title="{{product?.Name}}" />
        </a>
    </div>
    <div class="product-caption">
        <a [routerLink]="getProductLink()">{{product?.Name}}</a>
        <div class="product-caption__description" title="{{product?.Description}}">{{product?.Description}}</div>
    </div>
    <div class="divider"></div>
    <div class="product-size">
        <div class="button-group__wrap">
            <button-group [values]="quantities" [active]="currentQuantity" prefix="Кол-во" (onChange)="changeQuantity($event)"></button-group>
        </div>
        <div class="button-group__wrap">
            <button-group [values]="heights" [active]="currentHeight" prefix="Высота, см" (onChange)="changeHeight($event)"></button-group>
        </div>
    </div>

    <div class="product-footer">
        <div *ngIf="isSale()" class="product-sale">{{getPrice()}} &#8381;</div>
        <div class="product-price">{{product?.Price}} &#8381;</div>
        <div class="product-footer__splitter"></div>
        <ng-template [ngIf]="product?.IsForSale">
            <div *ngIf="count > 0">
                <button class="btn product-count-btn" (click)="removeFromCard()">
                    <em class="fa fa-minus"></em>
                </button>
            </div>
            <div *ngIf="count > 0" class="product-footer__count">
                {{count}}
            </div>
            <div *ngIf="count > 0" (click)="addToCard()">
                <button class="btn product-count-btn">
                    <em class="fa fa-plus"></em>
                </button>
            </div>
            <div class="product-card">
                <button *ngIf="count == 0" (click)="addToCard()" class="btn product-btn">ЗАКАЗАТЬ БУКЕТ</button>
            </div>
        </ng-template>
        <ng-template [ngIf]="!product?.IsForSale">
            <div class="product-not-available">
                Нет в наличии
            </div>
        </ng-template>
    </div>
</div>
