﻿@import '../../style/constants.scss';

:host {
    display: block;
    height: 100%;
}

img {
    width: 100%;
}

.product-caption {
    margin: 30px 0 0;
    overflow: hidden;
    text-align: center;

    a {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        text-decoration: none;
    }

    .product-caption__description {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
        color: $sub-text-color;
    }
}

.product-item__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;

    .divider {
        flex: 1 1 auto;
    }
}

.product-meat {
    margin: 10px 0;
}

.product-size {
    margin: 15px 0 30px;
}

.product-sale {
    position: absolute;
    top: -1em;
    font-size: 24px;
    color: $main-color;
}

.product-sale + .product-price {
    text-decoration: line-through;
}

.product-price {
    font-size: 30px;
}

.product-btn {
    color: $text-color;
    background-color: $main-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 40px;
    border-radius: 32px;

    &:hover {
        background-color: $sub-main-color;
        box-shadow: 0px 3px 8px rgba(255, 221, 38, 0.769673);
    }
}

.product-footer {
    display: flex;
    position: relative;
    align-items: center;

    .product-footer__splitter {
        flex: auto;
    }
}

.product-count-btn {
    @include count-btn();
}

.product-footer__count {
    font-size: 21px;
    line-height: 40px;
    width: 80px;
    text-align: center;
}

.product-not-available {
    padding: 11px 0;
    font-size: 18px;
}

.button-group__wrap {
    margin-top: 15px;
}