﻿<div class="container">
    <div *ngIf="product" class="page">
        <div class="product__wrapper">
            <div class="product__head">
                <h1>{{product?.Name}}</h1>
            </div>
            <div class="product__img">
                <img [src]="product?.ImageUrl" />
                <button-group [values]="sizes" [active]="currentSize" (onChange)="changeSize($event)"></button-group>

                <div class="product__card">
                    <div *ngIf="isSale()" class="product__sale-price">{{getPrice()}} &#8381;</div>
                    <div class="product__price">{{product?.Price}} &#8381;</div>
                    <ng-template [ngIf]="product?.IsForSale">
                        <div *ngIf="count > 0">
                            <button class="btn product-count-btn" (click)="removeFromCard()">
                                <em class="fa fa-minus"></em>
                            </button>
                        </div>
                        <div *ngIf="count > 0" class="product-footer__count">
                            {{count}}
                        </div>
                        <div *ngIf="count > 0" (click)="addToCard()">
                            <button class="btn product-count-btn">
                                <em class="fa fa-plus"></em>
                            </button>
                        </div>
                        <div class="product-card">
                            <button *ngIf="count == 0" (click)="addToCard()" class="btn product-btn">В корзину</button>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!product?.IsForSale">
                        <div class="product-not-available">
                            Нет в наличии
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="product__desc">
                <h1>{{product?.Name}}</h1>
                <p *ngIf="product?.Description" class="product-description">
                    {{product?.Description}}
                </p>
                <p *ngIf="product?.FullDescription" class="product-description">
                    <b>Состав:</b> {{product?.FullDescription}}
                </p>
                <div class="product-description">
                    <div><b>Пищевая ценность на 100г продукта:</b></div>
                    <div>
                        <span>Белки: {{product?.Proteins}}г</span>&emsp;
                        <span>Жиры: {{product?.Fats}}г</span>&emsp;
                        <span>Углеводы: {{product?.Carbohydrates}}г</span>&emsp;
                        <span>Калорийность: {{product?.Energy}}ккал</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>