﻿@import '../../style/constants.scss';

h1 {
    margin-top: 0;
}

.product__wrapper {
    display: flex;
}

.product__img {
    flex: none;
}

.product__desc {
    margin-left: 1rem;

    h1 {
        margin-bottom: 40px;
    }

    @media(max-width: 991px) {
        h1 {
            display: none;
        }
    }
}

.product__head {
    display: none;
}


@media(max-width: 991px) {
    .product__wrapper, .product__head {
        display: block;
    }

    .product__desc {
        margin-left: 0;
    }
}

img {
    margin-bottom: 20px;
    max-width: 100%;
}

button-group {
    max-width: 330px;
    display: block;
}

.product__card {
    display: flex;
    margin: 30px 0 20px;
    max-width: 330px;
    position: relative;

    .product__sale-price + .product__price {
        text-decoration: line-through;
    }

    .product__sale-price {
        position: absolute;
        top: -1em;
        color: $main-color;
        font-size: 24px;
    }

    .product__price {
        font-size: 32px;
        margin-right: 30px;
        flex: 1 1 auto;
    }

    .product-btn {
        color: $text-color;
        background-color: #fff;
        border-color: $main-color;
        border-width: 2px;
        text-transform: uppercase;
        padding: 10px 37px;
        font-size: 14px;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }

    .product-count-btn {
        @include primary-btn();
        padding: 10px 15px;
    }

    .product-footer__count {
        font-size: 21px;
        line-height: 40px;
        width: 50px;
        text-align: center;
    }
}

.product-description {
    font-size: 18px;
}
