﻿<div class="container">
    <div class="page">
        <div class="head">
            <h1>Корзина</h1>

            <div class="stepper-wrap">
                <div class="stepper">
                    <span class="step active">Корзина</span>
                    <span class="step">Оформление заказа</span>
                    <span class="step">Заказ принят</span>
                </div>
            </div>
        </div>

        <div *ngIf="amount > maxPrice" class="alert alert-warning" role="alert">Максимальная сумма заказа {{maxPrice | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</div>

        <div *ngFor="let item of cartItems" class="cart-item">
            <div class="cart-image">
                <img class="image" [src]="getImage(item)" alt="{{item.Name}}" />
            </div>
            <div class="cart-caption">
                <div class="cart-name">{{item.Name}}</div>
                <div class="cart-subname">
                    <span class="cart-subname__label">Кол-во: </span>{{item.Quantity}}
                    <span class="cart-subname__spacer"></span>
                    <span class="cart-subname__label">Высота: </span>{{item.Height}} см
                </div>
            </div>
            <div class="cart-breaker"></div>
            <div *ngIf="item.IsForSale" class="cart-count">
                <div class="cart-count">
                    <div>
                        <button class="btn count-btn" (click)="removeFromCard(item)">
                            <em class="fa fa-minus"></em>
                        </button>
                    </div>
                    <div class="cart-count__count">
                        {{item.Count}}
                    </div>
                    <div (click)="addToCard(item)">
                        <button class="btn count-btn">
                            <em class="fa fa-plus"></em>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="item.IsForSale" class="cart-amount">
                {{item.Amount | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}
            </div>
            <div *ngIf="!item.IsForSale" class="cart-amount">
                <div class="not-for-sale">Нет в наличии</div>
            </div>
            <div class="cart-close"><img (click)="removeInCart(item)" class="close-btn" src="/images/delete-button.png" /></div>
            <div *ngIf="item.IsForSale && !item.isValidCount"><span class="text-warning">Максимальное количество для заказа {{item.SaleCount}}</span></div>
        </div>
        <div *ngIf="!cartItems?.length">
            Добавьте что-нибудь из <a routerLink="/" fragment="menu">меню</a>
        </div>

        <product-free [groupName]="flatwareGroupName"></product-free>
        <product-free [groupName]="souceGroupName"></product-free>
        <product-free [groupName]="drinkGroupName"></product-free>
        <product-recomendation></product-recomendation>

        <hr />

        <div class="cart__amount">
            Сумма заказа:<span class="cart__amount-sum"> {{amount | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</span>
        </div>
        <div class="cart-footer">
            <a routerLink="/" fragment="menu" class="btn btn-back">Вернуться в меню</a>
            <button (click)="accept()" [disabled]="isDisabled()" class="btn btn-next">Заказать</button>
        </div>
    </div>
</div>
