﻿@import '../../style/constants.scss';

:host {
    display: block;
}

.container {
    max-width: 1016px;
}

.page {
    margin: 140px 0;

    @include mobile() {
        margin: 29px 0;
    }
}

.head {

    h1 {
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        text-align: center;
        margin: 0;

        @include mobile() {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .stepper-wrap {
        margin-top: 40px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        @include mobile() {
            margin-top: 15px;
            margin-bottom: 29px;
        }
    }
}

.cart-caption {
    flex: 2;

    @include mobile() {
        font-size: 16px;
        line-height: 20px;
    }
}

.cart-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;

    @include mobile() {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }
}

.cart-subname {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;

    @include mobile() {
        font-size: 12px;
        line-height: 22px;
    }

    .cart-subname__label {
        font-weight: bold;
    }

    .cart-subname__spacer {
        width: 20px;
        display: inline-block;
    }
}

.cart-amount {
    font-weight: bold;
    font-size: 24px;
    flex: 1;
    text-align: center;

    @include mobile() {
        font-size: 18px;
        line-height: 22px;
    }
}

.cart-close {
    flex: 0.2;
}

.count-btn {
    @include count-btn();
}

.cart-count {
    display: flex;
    flex: 1;
}

.cart-count__count {
    font-size: 16px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-flow: row wrap;
}

.cart-image {
    margin-right: 30px;

    @include mobile() {
        margin-right: 10px;
    }
}

.cart-breaker {
    @include mobile() {
        width: 100%;
        margin-top: 15px;
    }
}

.close-btn {
    cursor: pointer;
}

hr {
    margin: 0;
}

.cart__amount {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    flex: 1;
    margin: 30px 0 90px;

    &.left {
        text-align: left;
    }

    @include mobile() {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 14px 0 29px;
    }
}

.cart__amount-sum {
    font-weight: bold;
    font-size: 24px;

    @include mobile() {
        font-size: 18px;
    }
}

.btn-next {
    @include primary-btn();
    padding: 9px 45px;
    font-size: 21px;
    text-transform: uppercase;
}

.btn-back {
    @include primary-btn();
    background-color: $background-second;
    border-color: $background-second;
    color: $text-color;
    text-decoration: none;
}

.cart-footer {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;

    * {
        margin-top: 10px;
    }

    @include mobile() {
        display: flex;
        flex-direction: column-reverse;
    }
}

.stepper {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    max-width: 610px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid rgba($text-color, 0.3);

    @include mobile() {
        font-size: 12px;
        line-height: 15px;
    }

    .step {
        margin-bottom: -3px;
        padding-bottom: 20px;
        border-bottom: 5px solid transparent;
        opacity: 0.5;
        text-align: center;
        display: flex;
        align-items: center;

        @include mobile() {
            padding-bottom: 9px;
        }

        &.active {
            opacity: 1;
            border-bottom-color: $main-color;
        }
    }
}

.delivery-type {
    font-size: 21px;

    &.active {
        color: $main-color;
    }
}

.form-control {
    width: 250px;

    &.small {
        width: 100px;
    }

    &.large {
        width: 307px;
    }

    &.vlarge {
        width: 411px;
    }
}

.change-phone {
    left: -75px;
    position: relative;
}

.row-form {
    margin-bottom: 15px;
}

.btn-date {
    @include primary-btn;
}

.autosetup {
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
}

.payment {
    background-color: #efefef;
    padding: 30px 30px;
    border-radius: 4px;
}

.payment_dot {
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.payment_sum {
    margin-left: 38px;
    margin-right: 1em;
}

.payment_sum-ruble {
    position: relative;
    left: -20px;
    top: 2px;
}

.payment_sum-input {
    padding-right: 20px;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: inline-block;
    margin-right: 24px;

    &.active {
        border-color: $main-color;
        background-color: $main-color;
    }
}

.payment_sum-all {
    cursor: pointer;
    margin-left: 1em;
}

.check-box {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #efefef;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    top: 3px;

    &.active {
        background-color: $main-color;
    }
}

.dropdown-menu {
    display: block;

    li {
        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }
    }

    .city-name {
        padding: 0 10px;
        font-weight: bold;
    }

    .street-name {
        padding: 0 10px;
        font-size: 16px;
    }
}

.form-group {
    position: relative;
}

.active i {
    display: inline-block;
}

i {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: $main-color;
}

.not-for-sale {
    font-size: 21px;
    color: $main-color;
    text-align: left;
}

.image {
    width: 100px;
    height: 100px;

    @include mobile() {
        width: 50px;
        height: 50px;
    }
}
