﻿@import '../../style/constants.scss';

:host {
    display: block;
}

.head {
    display: flex;
    align-items: center;

    h1 {
        flex: auto;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .stepper {
        margin-top: 20px;
        margin-bottom: 10px;
        flex: content;
        text-transform: uppercase;

        &.active1 {
            .step2, .step3 {
                color: #929292;
                border-color: #b5b5b5;
            }
        }

        &.active2 {
            .step3 {
                color: #929292;
                border-color: #b5b5b5;
            }
        }

        .delimeter {
            width: 50px;
            height: 1px;
            border-top: 2px dotted #666;
            display: inline-block;
            margin: 0 5px 4px;
        }
    }
}

@media (max-width: 767px){
    .head {
        display: block;
    }
}

.order__amount {
    font-size: 21px;
    text-align: right;

    .order__amount-sum {
        font-size: 32px;
        color: $main-color;
    }
}

.order-footer {
    margin-top: 27px;
    text-align: right;

    .cart__amount {
        font-size: 21px;
        text-align: right;

        &.left {
            text-align: left;
        }
    }
}

.order-item {
    margin: 22px 0;
    font-size: 21px;

    .order-item__name {
        text-transform: uppercase;
    }

    .order-item__amount {
        text-align: right;
    }
}

.btn-menu {
    @include primary-btn();
    padding: 9px 45px;
    font-size: 21px;
    text-transform: uppercase;
}
