﻿<div class="container">
    <div *ngIf="orderInfo" class="page">
        <div class="head">
            <h1>Заказ № {{orderInfo?.Number}}</h1>

            <div class="stepper active3">
                <span class="step step1">Корзина</span>
                <span class="delimeter step2"></span>
                <span class="step step2">Оформление заказа</span>
                <span class="delimeter step3"></span>
                <span class="step step3">Заказ принят</span>
            </div>
        </div>

        <hr />

        <b>Ваш заказ принят</b>
        <ng-template [ngIf]="orderInfo?.Delivery">
            <div>Мы доставим его Вам к {{DeliveryTime | date: 'HH:mm dd.MM.yyyy'}} по адресу {{orderInfo?.Delivery?.StreetName}}, {{orderInfo?.Delivery?.BuildingName}}</div>
        </ng-template>
        <ng-template [ngIf]="!orderInfo?.Delivery">
            <div>Заказ можно получить по адресу: Нижний Новгород ул. Саврасова 11А</div>
        </ng-template>

        <h1>ВАШ ЗАКАЗ</h1>
        <hr />

        <div *ngFor="let item of orderInfo?.Items" class="order-item">
            <div class="row">
                <div class="col-sm-6 col-12 order-item__name">{{item.Name}}</div>
                <div class="col-sm-3 col-6">{{item.Count}}</div>
                <div class="col-sm-3 col-6 order-item__amount">{{item.Amount | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</div>
            </div>
        </div>

        <hr />
        <div class="order__amount">
            Сумма заказа:<span class="order__amount-sum"> {{orderInfo?.Amount | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</span>
        </div>
        <div class="order-footer">
            <button (click)="toMenu()" class="btn btn-menu">Вернуться в меню</button>
        </div>
    </div>
</div>
