﻿<div class="container">
    <div class="page">
        <h1>КОНТАКТЫ</h1>
        <p>
            <i class="fa fa-map-marker"></i> г. Нижний Новгород ул.Саврасова д.11а <br />
            <i class="fa fa-clock-o"></i> Доставка и самовывоз: ежедневно {{beginWorkTime}} - {{endWorkTime}} <br />
            <i class="fa fa-envelope-o"></i> <a href="mailto:info@barabeq.ru">info@barabeq.ru</a> <br />
            <i class="fa fa-phone"></i> <a href="tel:{{phoneNumberCall}}">{{phoneNumber}}</a> <br />
        </p>

        <span>
            Ждем ваших отзывов на почту: <a href="mailto:info@barabeq.ru">info@barabeq.ru</a> <br />
            Или оставляйте отзывы на:
        </span>
        <ul>
            <li>
                <a target="_blank" href="/comments">Сайте</a>
            </li>
            <li>
                <a target="_blank" href="https://yandex.ru/maps/org/barabek_ru_/87554281505/?reviews">Яндекс.Карты</a>
            </li>
            <li>
                <a target="_blank" href="https://goo.gl/maps/zrDuRQT4Tpr">Google.Карты</a>
            </li>
            <li>
                <a target="_blank" href="https://www.tripadvisor.ru/Restaurant_Review-g298515-d14465676-Reviews-Barabeq-Nizhny_Novgorod_Nizhny_Novgorod_Oblast_Volga_District.html">tripadvisor.ru</a>
            </li>
            <li>
                <a target="_blank" href="https://nn.zoon.ru/utility_service/sluzhba_dostavki_shashlyka_barabeq_na_ulitse_savrasova_11a">zoon.ru</a>
            </li>
            <li>
                <a target="_blank" href="https://2gis.ru/n_novgorod/firm/70000001032654666?queryState=zoom%2F16">2gis.ru</a>
            </li>
        </ul>
        <p>
            Следите за нами: <a target="_blank" href="https://vk.com/barabeqru"><i class="fa fa-vk"></i> Вконтакте</a> <a target="_blank" href="https://www.instagram.com/barabeq.ru/"><i class="fa fa-instagram"></i> Instagram</a>
        </p>
    </div>
    <h1>ЗОНА ДОСТАВКИ</h1>
</div>
<map></map>
