﻿@import '../../../style/constants.scss';

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: $text-color;
}

.delivery-page {
    margin-bottom: 140px;
}

.image-wrapper {
    margin-top: 90px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 194px;
        height: 194px;
        border-radius: 50%;
        box-shadow: 0 6px 18px rgba(255, 221, 38, 0.63);
        background-color: $main-color;
    }

    .image-wrapper__text {
        margin-top: 30px;
        text-align: center;
        color: $sub-text-color;
    }
}
