﻿<div class="container">
    <div class="page">
        <h1>ДОСТАВКА И ОПЛАТА</h1>

        <div class="row delivery-page">
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/basket.png" /></div>
                    <div class="image-wrapper__text">
                        Оформить заказ можно на сайте или с помощью оператора по телефону.
                        Минимальная стоимость заказа на доставку – {{minPrice}} руб.
                        Минимальная стоимость заказа на самовывоз – {{minNonDeliveryPrice}} руб.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/shipped.png" /></div>
                    <div class="image-wrapper__text">
                        Доставка осуществляется только по верхней части Нижнего Новгорода.
                        Стоимость доставки – 0 руб.
                        Среднее время доставки – 60 мин.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/wallet.png" /></div>
                    <div class="image-wrapper__text">
                        Оплатить заказ можно наличными курьеру или банковской картой на сайте.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/flower.png" /></div>
                    <div class="image-wrapper__text">
                        Получить  заказ можно лично по адресу: Саврасова 11а.
                        При самовывозе действует скидка - {{nonDeliveryDiscount}}%.
                        Время выдачи заказа с {{startTime}} до {{endTime}} без выходных.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/calendar.png" /></div>
                    <div class="image-wrapper__text">
                        Заказы принимаем и доставляем с {{startTime}} до {{endTime}} без выходных.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image-wrapper">
                    <div class="image-wrapper__img"><img src="/images/delivery/calendar_check.png" /></div>
                    <div class="image-wrapper__text">
                        При необходимости можно оформить предварительный заказ на определенное время.
                        Осуществить это можно на сайте при оформлении заказа или с помощью оператора по телефону.
                    </div>
                </div>
            </div>
        </div>
        <h1>ЗОНА ДОСТАВКИ</h1>
    </div>
</div>
<map></map>
