﻿@import '../../../../style/constants.scss';

:host {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.slider-inner {
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
    transition: transform 0.5s ease 0s;
    visibility: visible;
}

.dots {
    display: flex;
    justify-content: center;

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #D4D4D9;
        margin: 0 5px;
        padding: 0 5px;
        cursor: pointer;

        &.active {
            background-color: $main-color;
        }
    }
}