﻿<div class="slider-inner"
     [style.flex-basis]="itemWidth"
     [style.transform]="transform"
     [style.transition]="transition">
    <ng-content></ng-content>
</div>
<div class="dots">
    <div class="dot" *ngFor="let dot of pageCount; let index = index" 
         [ngClass]="{active: index == page}"
         (click)="navigateTo(index)"></div>
</div>