﻿<!DOCTYPE html>
<html>
<head>
    <environment include="Production">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121418688-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-121418688-1');
        </script>
    </environment>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Default -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- For IE6+ -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- For IE6+ -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- For IE6+ -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- Works in Chrome, Safari, IE -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Works in Firefox, Opera, Chrome and Safari -->
    <link rel="icon" href="/favicon.ico">

    <!-- For IE 6-10 -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- For all other browsers -->
    <link rel="icon" href="/favicon.ico" />

    <!-- Different sizes -->
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/favicon-96x96.png" sizes="96x96">

    <!-- For IE -->
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    <!-- For rounded corners and reflective shine in Apple devices -->
    <link rel="apple-touch-icon" href="/apple-icon.png" />
    <link rel="apple-touch-icon" sizes="180×180" href="/apple-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="152×152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="120×120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144×144" href="/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="114×114" href="/apple-icon-114×114.png" />
    <link rel="apple-touch-icon" sizes="76×76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="72×72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="60×60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="57×57" href="/apple-icon-57x57.png" />

    <!-- For Apple devices (fallback 144x144 px) -->
    <link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone-precomposed.png" />

    <!-- For Windows 8 -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="manifest" href="/manifest.json">

    <title>@ViewData["Title"]</title>
    <meta name="description" content="Доставка цветов в Нижнем Новгороде." />
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
