﻿<div class="container">
    <h1>{{title}}</h1>
    <div  class="row justify-content-center">
        <div class="col-lg-6">

            <div *ngIf="!isCodeSended" class="input-with-button">
                <input #phoneRef [formControl]="phone" (paste)="onPastePhone($event)" (click)="onPhoneFocus()" class="form-control" [textMask]="{mask: phoneMask, showMask: true}" (keyup.enter)="sendCode()" placeholder="Телефон" />
                <button (click)="sendCode()" class="btn btn-apply" [disabled]="phone.invalid">Выслать код</button>
            </div>

            <ng-template [ngIf]="isCodeSended">
                <div class="code-sended">
                    <span class="warn">!</span> Мы отправили код подтверждения на телефон {{phone.value}}
                </div>
                <div class="input-with-button">
                    <input #codeRef [formControl]="code" class="form-control" [textMask]="{mask: codeMask}" (keyup.enter)="login()" placeholder="Код из СМС" />
                    <button (click)="login()" class="btn btn-apply" [disabled]="code.invalid">Продолжить</button>
                </div>
                <div *ngIf="countDown != 0" class="count-down">
                    Отправить ещё раз через <span>{{countDown}} сек.</span>
                </div>
                <div *ngIf="countDown == 0" class="send">
                    <button (click)="sendCode()" class="btn btn-apply">Отправить ещё раз</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>