﻿@import '../../style/constants.scss';

:host {
    display: block;
    min-height: 50vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.input-with-button {
    display: flex;

    input {
        flex: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button {
        flex: content;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.btn-apply {
    @include primary-btn();
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
}

.code-sended {
    font-size: 15px;
    text-align: center;
    background-color: #efefef;
    margin: 0 0 20px;
    padding: 15px 0;
    border-radius: 4px;

    .warn {
        font-size: 26px;
        color: $main-color;
    }
}

.count-down {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;

    span {
        color: $main-color;
    }
}

.send {
    margin-top: 20px;
    text-align: center;
}