﻿<div class="container">
    <div class="footer-wrap">
        <div class="footer-wrap__head">
            <div class="footer-wrap__left">
                <div class="footer-delivery">
                    Доставка букетов <br />
                    в Нижнем Новгороде
                </div>
            </div>
            <div class="footer-wrap__right">
                <div class="footer-wrap__right-space"></div>
                <div>
                    <div class="footer__phone">
                        <a href="tel:{{phoneNumberCall}}">{{phoneNumber}}</a>
                    </div>
                    <div class="footer__phone_work-time">Заказы принимаем с {{beginWorkTime}} до {{endWorkTime}}</div>
                </div>
            </div>
        </div>
        <div class="footer-navigation">
            <div>
                <a routerLink="/" fragment="menu">Букеты</a>
            </div>
            <div>
                <a routerLink="/delivery">Доставка и оплата</a>
            </div>
            <div>
                <a routerLink="/about">О нас</a>
            </div>
            <div>
                <a routerLink="/comments">Отзывы</a>
            </div>
            <div>
                <a routerLink="/contacts">Контакты</a>
            </div>
            <div>
                <a routerLink="/offer">Оферта</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="footer-copy">
        <div class="footer-copy__name">
            &copy; 2019. Jet Букет
        </div>

        <div class="footer__sotial">
            <a target="_blank" href="https://vk.com/barabeqru"><img src="/images/vk.png" alt="Вконтакте" title="Вконтакте" /></a>
            <a target="_blank" href="https://www.instagram.com/barabeq.ru/"><img src="/images/instagramm.png" alt="Инстаграм" title="Инстаграм" /></a>
        </div>

        <div class="footer__images">
            <a routerLink="/offer">
                <img src="/images/master.png" />
            </a>
            <a routerLink="/offer">
                <img src="/images/visa.png" />
            </a>
            <a routerLink="/offer">
                <img src="/images/mir.png" />
            </a>
            <a routerLink="/offer">
                <img src="/images/tinkoff-logo.png" />
            </a>
        </div>
    </div>
</div>