@import '../../style/constants.scss';

:host {
    background-color: #24292E;
    padding-top: 90px;
    color: #ffffff;
    display: block;
}

.footer-delivery {
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 2.04167px;
    margin-bottom: 40px;
}

.footer-copy {
    padding: 0 0 40px;
    font-size: 16px;
    display: flex;
    align-items: center;

    .footer-copy__name {
        font-size: 18px;
        line-height: 30px;
        opacity: 0.5;
    }

    .footer__sotial {
        flex: 1;
        display: flex;
        justify-content: center;

        a {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6E7176;
            margin: 0 8px;
            cursor: pointer;

            &:hover {
                background-color: #4A76A8;
            }

            .fa {
                font-size: 21px;
            }
        }
    }
}

hr {
    border-color: #626262;
    margin: 40px 0;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
}

.footer-wrap__head {
    display: flex;
}

.footer-wrap__right {
    flex: auto;
    display: flex;
}

.footer-wrap__right-space {
    flex: 1;
}

.footer__phone {
    font-size: 35px;
    line-height: 43px;
    text-align: right;
    letter-spacing: 2.04167px;

    a {
        text-decoration: none;
    }
}

.footer__phone_work-time {
    opacity: 0.5;
    text-align: left;
}

.footer__images {
    a {
        margin-left: 15px;
    }
}

a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.footer-navigation {
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 38px;

    div {
        padding: 0 30px;
        border-left: 1px solid #3a3f44;

        &:first-child {
            padding-left: 0;
            border-left-width: 0;
        }
    }
}

@media(max-width: 767px) {
    .footer-wrap {
        display: block;
    }

    .footer__phone, .footer__phone_work-time {
        text-align: left;
    }
}
