﻿@import '../../style/constants.scss';

:host {
    display: block;
}

.page {
    margin-bottom: 140px;
}

.head {
    align-items: center;
    margin-bottom: 30px;

    h1 {
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        text-align: center;
        margin: 0;
    }

    .stepper-wrap {
        margin-top: 40px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        @include mobile() {
            margin-top: 15px;
            margin-bottom: 29px;
        }
    }
}

@media (max-width: 991px) {
    .head {
        display: block;
    }
}

.cart-name {
    font-size: 21px;
    text-transform: uppercase;
    line-height: 40px;
}

.cart-amount {
    font-size: 21px;
    text-align: center;
    line-height: 40px;
}

.cart-close {
    text-align: right;
    font-size: 21px;
}

.count-btn {
    @include primary-btn();
    padding: 9px 14px;
    margin-right: 3px;
}

.cart-count {
    display: flex;
}

.cart-count__count {
    font-size: 21px;
    line-height: 40px;
    width: 50px;
    text-align: center;
}

.cart-item {
    margin: 22px 0;
}

.close-btn {
    @include close-btn(21px);
    padding-top: 10px;
    margin-right: 3px;
}

.cart__amount {
    font-size: 21px;
    text-align: right;

    &.left {
        text-align: left;
    }
}

.cart__amount-sum {
    font-size: 32px;
    font-weight: bold;
}

.btn-next {
    @include primary-btn();
    padding: 9px 45px;
    font-size: 21px;
    text-transform: uppercase;
}

.cart-footer {
    margin-top: 27px;
    text-align: right;
}

.stepper {
    text-transform: uppercase;

    &.active1 {
        .step2, .step3 {
            color: #929292;
            border-color: #b5b5b5;
        }
    }

    &.active2 {
        .step3 {
            color: #929292;
            border-color: #b5b5b5;
        }
    }

    .delimeter {
        width: 50px;
        height: 1px;
        border-top: 2px dotted #666;
        display: inline-block;
        margin: 0 5px 4px;
    }
}

.delivery-type {
    font-size: 24px;
    margin-top: 2em;
    font-weight: bold;

    .active {
        color: $main-color;
    }

    .delivery-type__name {
        margin-right: 20px;
        cursor: pointer;
    }
}

.form-group {
    display: inline-block;
}

.form-control {
    width: 300px;
    max-width: 100%;
    display: inline-block;
    border-radius: 2em;
    font-size: 18px;

    &.small {
        width: 147px;
    }

    &.large {
        width: 449px;
    }

    &.vlarge {
        width: 599px;
    }
}

nouislider {
    border-width: 0;
    padding: 0;
}

.bonus {
    max-width: 411px;
    .form-control {
        width: 0;
    }
}

.change-phone {
    left: -90px;
    position: relative;
    color: #fe6702;

    &:hover {
        color: #fe6702;
    }
}

.row-form {
    margin-bottom: 15px;
}

.btn-date {
    @include primary-btn;
    font-size: 18px;
    background-color: #fff;

    &.active {
        background-color: $main-color;
    }

    &[disabled] {
        background-color: unset;
    }
}

.autosetup {
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
}

.delivery-dot {
    cursor: pointer;
    display: inline-block;

    .delivery-dot__name {
        font-size: 18px;
        text-transform: uppercase;
    }

    .delivery-dot__desc {
        margin-left: 40px;
    }
}

.payment {
    background-color: #efefef;
    padding: 30px 30px;
    border-radius: 4px;
    margin-top: 30px;
}

.payment_dot {
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.payment_sum {
    margin-left: 38px;
    margin-right: 1em;
}

.payment_sum-ruble {
    position: relative;
    left: -20px;
    top: 2px;
}

.payment_sum-input {
    padding-right: 20px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 50%;
    display: inline-block;
    margin-right: 24px;

    &.active {
        border-color: $main-color;
        background-color: $main-color;
    }
}

.payment_sum-all {
    cursor: pointer;
    margin-left: 1em;
    white-space: nowrap;
}

.check-box {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #efefef;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    top: 3px;

    &.active {
        background-color: $main-color;
    }
}

.dropdown-menu {
    li {
        cursor: pointer;

        &:hover, &:focus {
            background-color: #ddd;
        }
    }

    .city-name {
        padding: 0 10px;
        font-weight: bold;
    }

    .street-name {
        padding: 0 10px;
        font-size: 16px;
    }
}

.form-group {
    position: relative;
}

.active i {
    display: inline-block;
}

i {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: $main-color;
}

.need-validation input.ng-invalid {
    border-color: $main-color;
}

.promocode {
    max-width: 411px;
    .form-control {
        width: 0;
    }
}

.btn-promo {
    @include primary-btn();
}

/deep/ .noUi-handle {
    box-shadow: none;
    background-color: $main-color;
}

.stepper {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    max-width: 610px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid rgba($text-color, 0.3);

    @include mobile() {
        font-size: 12px;
        line-height: 15px;
    }

    .step {
        margin-bottom: -3px;
        padding-bottom: 20px;
        border-bottom: 5px solid transparent;
        opacity: 0.5;
        text-align: center;
        display: flex;
        align-items: center;

        @include mobile() {
            padding-bottom: 9px;
        }

        &.active {
            opacity: 1;
            border-bottom-color: $main-color;
        }
    }
}