﻿<div class="container" [ngClass]="{'need-validation': formDirty}">
    <div class="page">
        <div class="head">
            <h1>Оформление заказа</h1>

            <div class="stepper-wrap">
                <div class="stepper">
                    <span class="step">Корзина</span>
                    <span class="step active">Оформление заказа</span>
                    <span class="step">Заказ принят</span>
                </div>
            </div>
        </div>

        <div *ngIf="getAmount() < minPrice" class="alert alert-danger" role="alert">Минимальная сумма заказа {{minPrice | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</div>
        <div *ngIf="getAmount() > maxPrice" class="alert alert-danger" role="alert">Максимальная сумма заказа {{maxPrice | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</div>

        <div class="row-form">
            <div class="form-inline">
                <div class="form-group">
                    <input #name [formControl]="formGroup.get('name')" class="form-control" placeholder="Имя" />
                    <input [formControl]="formGroup.get('phone')" class="form-control" />
                    <a class="change-phone" routerLink="/login">Изменить</a>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-inline">
                <label class="mr-2">Заказ на </label>
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <button (click)="setDate('today')" [ngClass]="getDateClass('today')" [disabled]="!canDeliveryToday()" type="button" class="btn">Сегодня</button>
                        <button (click)="setDate('tomorrow')" [ngClass]="getDateClass('tomorrow')" type="button" class="btn btn-default">Завтра</button>
                    </div>
                    <label class="d-inline-block">привезём к</label>
                    <time-selector (onTimeChange)="onTimeChange($event)" [date]="date"></time-selector>
                </div>
            </div>
        </div>

        <div class="row-form">
            <div class="delivery-type active">
                <span (click)="setDeliveryType(1)" [ngClass]="{ active: deliveryType == 1 }" class="delivery-type__name">ДОСТАВКА</span>
                <span (click)="setDeliveryType(2)" [ngClass]="{ active: deliveryType == 2 }" class="delivery-type__name">САМОВЫВОЗ</span>
            </div>
        </div>

        <hr />

        <ng-template [ngIf]="deliveryType == 2">
            <div class="row-form">
                <div class="delivery-dot">
                    <span class="dot active"></span>
                    <span class="delivery-dot__name">Нижний Новгород, ул. Саврасова, 11А</span>
                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]="deliveryType == 1">
            <div *ngFor="let delivery of deliveries" class="row-form">
                <div (click)="setDelivery(delivery)" class="delivery-dot">
                    <span [ngClass]="{ 'active': currentDelivery?.LeadDeliveryId == delivery.LeadDeliveryId }" class="dot"></span>
                    <span class="delivery-dot__name">{{delivery.Name}}</span>
                    <div class="delivery-dot__desc">{{delivery.StreetName}}, {{delivery.BuildingName}}</div>
                </div>
            </div>
            <div *ngIf="deliveries.length" class="row-form">
                <div (click)="setDelivery(null)" class="delivery-dot">
                    <span [ngClass]="{ 'active': currentDelivery == null }" class="dot"></span>
                    <span class="delivery-dot__name">Добавить новый адрес</span>
                </div>
            </div>

            <ng-template [ngIf]="currentDelivery == null">
                <div class="row-form">
                    <div class="form-inline">
                        <div class="form-group">
                            <div (keyup)="autocompleteKeyUp($event)" class="form-group street" [ngClass]="{ active: currentStreet != null }">
                                <input #street type="text" class="form-control large" placeholder="Улица" [formControl]="formGroup.get('street')" />
                                <i *ngIf="currentStreet != null && currentStreet.Avalable" class="fa fa-check"></i>
                                <i *ngIf="currentStreet != null && !currentStreet.Avalable" class="fa fa-times"></i>
                                <ul *ngIf="possibleStreets.length" class="dropdown-menu show">
                                    <li *ngFor="let street of possibleStreets" (keyup.enter)="setStreet(street)" (click)="setStreet(street)" tabindex="-1">
                                        <div class="city-name">{{street.CityName}}</div>
                                        <div class="street-name">{{street.StreetName}}</div>
                                    </li>
                                </ul>
                            </div>
                            <div (keyup)="autocompleteKeyUp($event)" class="form-group house" [ngClass]="{ active: currentBuilding != null }" tabindex="-1">
                                <input #building (blur)="onHouseBlur($event)" type="text" class="form-control small" [formControl]="formGroup.get('house')" placeholder="Дом" />
                                <i *ngIf="currentBuilding != null && currentBuilding.Avalable" class="fa fa-check"></i>
                                <i *ngIf="currentBuilding != null && !currentBuilding.Avalable" class="fa fa-times"></i>
                                <ul *ngIf="possibleBuildings.length" class="dropdown-menu show">
                                    <li *ngFor="let building of possibleBuildings" (keyup.enter)="setBuilding(building)" (click)="setBuilding(building)" tabindex="-1">
                                        <div class="street-name">{{building.Name}}</div>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="currentStreet?.Avalable === false || currentBuilding?.Avalable === false" class="alert alert-danger">Данный адрес не входит в зону доставки</div>
                        </div>
                    </div>
                </div>
                <div class="row-form">
                    <div class="form-inline">
                        <div class="form-group">
                            <input [formControl]="formGroup.get('apartment')" class="form-control small" placeholder="Квартира" />
                            <input [formControl]="formGroup.get('entance')" class="form-control small" placeholder="Подъезд" />
                            <input [formControl]="formGroup.get('door_code')" class="form-control small" placeholder="Код двери" />
                            <input [formControl]="formGroup.get('floor')" class="form-control small" placeholder="Этаж" />
                        </div>
                    </div>
                </div>
                <div class="row-form">
                    <input #delivery [formControl]="formGroup.get('delivery_name')" class="form-control vlarge" placeholder="Название адреса" />
                    <div>Например <span (click)="setName('Дом')" class="autosetup">дом</span> или <span (click)="setName('Работа')" class="autosetup">работа</span></div>
                </div>
            </ng-template>
        </ng-template>

        <div class="row-form">
            <textarea [formControl]="formGroup.get('comment')" class="form-control vlarge" placeholder="Комментарий"></textarea>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row-form">
                    <h1>Промокод</h1>
                </div>
                <div class="row-form">
                    <div class="input-group promocode">
                        <input [(ngModel)]="promocode" [disabled]="promoApplyed" type="text" class="form-control" placeholder="Введите промокод">
                        <div class="input-group-append">
                            <button (click)="applyPromo()" class="btn btn-promo" type="button">{{promoApplyed ? 'СБРОСИТЬ' : 'ПРИМЕНИТЬ'}}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="promoApplyed" class="row-form">
                    Промокод успешно применён. Размер скидки составляет {{discount}}%.
                </div>
                <div *ngIf="promoApplyed === false" class="row-form promocode">
                    <div class="alert alert-danger">Промокод не применён</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1>Баланс Jet-рублей {{maxBonus}}</h1>
                <div *ngIf="maxBonus > 0">
                    <nouislider [min]="0" [max]="getMaxBonus()" [step]="1" [formControl]="formGroup.get('bonus')" (change)="onBonusChanged()" class="form-control vlarge"></nouislider>
                </div>
                <div class="row-form">
                    <div class="input-group bonus">
                        <input [formControl]="formGroup.get('bonus')" (change)="onBonusChanged()" type="number" class="form-control">
                        <div class="input-group-append">
                            <button (click)="applyBonus()" [disabled]="maxBonus === 0" class="btn btn-promo" type="button">{{bonusApplyed ? 'СБРОСИТЬ' : 'ПРИМЕНИТЬ'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment">
            <div class="row-form">
                <h1>Способ оплаты</h1>
            </div>
            <div class="row-form">
                <div *ngIf="getAmount() > maxPriceByMoney" class="alert alert-danger" role="alert">Максимальная сумма оплаты наличными {{maxPriceByMoney | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</div>
                <div (click)="setPaymentType(2)" class="payment_dot"><span [ngClass]="{ active: paymentType == 2 }" class="dot"></span>Наличными</div>
            </div>
            <div *ngIf="paymentType == 2" class="row-form">
                <div class="form-inline">
                    <div class="form-group">
                        <span class="payment_sum">С какой суммы подготовить сдачу</span>
                        <input [formControl]="formGroup.get('payment_sum')" class="form-control small payment_sum-input" />
                        <span class="payment_sum-ruble">&#x20bd;</span>
                        <span (click)="setCheckAllSum()" class="payment_sum-all"><span [ngClass]="{ active: checkSum }" class="check-box"></span>Без сдачи</span>
                    </div>
                </div>
            </div>
            <div class="row-form">
                <div (click)="setPaymentType(1)" class="payment_dot"><span [ngClass]="{ active: paymentType == 1 }" class="dot"></span>Банковской картой на сайте</div>
            </div>
            <div class="row-form">
                <div class="cart__amount left">
                    Сумма заказа:<span class="cart__amount-sum"> {{getAmountWithBonus() | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</span>
                </div>
            </div>
        </div>

        <div class="cart-footer">
            <button (click)="accept()" [disabled]="loading" class="btn btn-next" tabindex="-1">Оформить заказ</button>
        </div>

        <!--<div>{{getStep2Errors() | json}}</div>-->
    </div>
</div>