﻿  <div class="row">
      <div class="about-shared">
          <div class="col-lg-4 col-md-6">
              <div class="about-shared_item">
                  <div class="about-shared_item-img">
                      <img src="/images/about-shared/percent.png" />
                  </div>
                  <div class="about-shared_item-text">
                      
                          Мы оптовая компания, прямые поставки цветов
                          из Эквадора
                      
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="about-shared_item">
                  <div class="about-shared_item-img">
                      <img src="/images/about-shared/flowers.png" />
                  </div>
                  <div class="about-shared_item-text">

                       В сфере цветочного бизнеса 9 лет

                  </div>
              </div>
           </div>

              <div class="col-lg-4 col-md-6">
                  <div class="about-shared_item">
                      <div class="about-shared_item-img">
                          <img src="/images/about-shared/email.png" />
                      </div>
                          <div class="about-shared_item-text">

                              Если Вам есть что сказать присылайте письмо на адрес
                              <a href="mailto:info@jetbuket.ru" style="color: black"><b>info@jetbuket.ru</b></a>
                          
                          </div>
                      </div>
                  </div>

              <div class="col-lg-4 col-md-6">
                  <div class="about-shared_item">
                      <div class="about-shared_item-img">
                          <img src="/images/about-shared/carrying.png" />
                      </div>
                          <div class="about-shared_item-text">

                              О Доставке

                          </div>
                      </div>
                  </div>

              <div class="col-lg-4 col-md-6">
                  <div class="about-shared_item">
                      <div class="about-shared_item-img">
                          <img src="/images/about-shared/diamond.png" />
                      </div>
                          <div class="about-shared_item-text">

                              Свежие цветы, никакого брака
                          
                          </div>
                      </div>
                  </div>
       </div>
   </div>