﻿.about-shared {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-shared_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

.about-shared_item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFDD26;
    box-shadow: 0px 6px 18px rgba(255, 221, 38, 0.62718);
    border-radius: 50%;
    width: 194px;
    height: 194px;
}

.about-shared_item-text {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}