@import '../../style/constants.scss';

:host {
    margin-bottom: 46px;
    display: block;
}

.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 30px;
}

.carousel-control-prev, .carousel-control-next {
    text-decoration: none;
}

.carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-indicators {
    bottom: -7px;

    li {
        text-indent: unset;
        margin-right: 4px;
        width: auto;
        height: auto;
        background-color: transparent;

        &.active {
            .slider {
                background-color: #aaa;
                width: 16px;
                height: 16px;
            }
        }

        .slider {
            background-color: #fff;
            width: 14px;
            height: 14px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}

.carousel-text {
    position: absolute;
    width: 620px;
    height: 620px;
    top: 90px;
    left: 190px;
    background-color: $main-color;
    box-shadow: 0 6px 18px rgba(255, 221, 38, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;

    .action {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
        padding: 20px;
        background-color: #fe6702;
    }

    .action-text {
        margin: 51px 100px 0 100px;
        font-size: 46px;
        line-height: 56px;
        font-weight: bold;
        text-align: center;
    }

    .action-sale {
        font-size: 150px;
        line-height: 183px;
        font-weight: bold;
        color: $text-color;

        span {
            font-size: 46px;
        }
    }

    .action-button {
        background: #FFFFFF;
        border-radius: 37.5px;
        font-size: 18px;
        font-weight: bold;
        line-height: 75px;
        color: #24292E;
        text-align: center;
        width: 275px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            box-shadow: 0px 8px 13px rgba(238, 193, 0, 0.541723);
        }
    }
}
