﻿<div id="carousel-barabeq" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-barabeq" data-slide-to="0" class="active"><span class="slider"></span></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a routerLink="/bonus">
                <img class="d-none d-md-block" src="/images/carousel/banner_1.jpg">
            </a>
            <div class="carousel-text">
                <div class="action">Акция дня</div>
                <div class="action-text">Букет из белых роз со скидкой</div>
                <div class="action-sale">10<span>%</span></div>
                <div class="action-button">
                    Заказать букет
                </div>
            </div>
        </div>
    </div>
</div>
