﻿@import '../../../style/constants.scss';

:host {
    display: flex;
    background: #f6f6f7;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    margin: 0 0 60px;
}

.comment {
    margin-top: 30px;
}

.comment__content {
    background: #FFFFFF;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.0979393);
    border-radius: 3px;
    padding: 30px;
}

.comment-head {
    font-size: 20px;
    font-weight: bold;

    .commnet-date {
        font-size: 12px;
        opacity: 0.5;
    }
}

.comment-reply {
    margin-left: 130px;
    background: #FFFADC;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.0979393);
    border-radius: 3px;
    margin-top: 30px;
    padding: 30px;
}

.comment-text {
    font-size: 18px;
}

h3 {
    text-align: center;
}

.comment-wrapper {
    margin: 90px 0 140px;
}

.btn-submit {
    margin-top: 30px;
    @include primary-btn();
}

label {
    font-size: 16px;
}

.comment-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment__form {
    max-width: 400px;
    width: 100%;
}

.comment__login {
    display: block;
    text-align: center;
    color: $sub-text-color;
    font-size: 18px;
}
