﻿<div class="container">
    <div class="page">
        <h1>Отзывы</h1>
        <div *ngFor="let comment of comments" class="comment">
            <div class="comment__content">
                <div class="comment-head">
                    <b>{{comment.Name}}</b> <span class="commnet-date">{{comment.CreatedOn * 1000 | date:'d MMM yyyy в HH:mm'}}</span>
                </div>
                <div class="comment-text">
                    {{comment.Text}}
                </div>
            </div>
            <div *ngIf="comment.Reply" class="comment-reply">
                <div class="comment-head">
                    <b>Команда Jet Букет</b> <span class="commnet-date">{{comment.RepliedOn * 1000 | date:'d MMM yyyy в HH:mm'}}</span>
                </div>
                <div class="comment-text">
                    {{comment.Reply}}
                </div>
            </div>
        </div>

        <div class="comment-wrapper">
            <h3>Добавить отзыв</h3>
            <div *ngIf="commentSended" class="alert alert-success">
                Спасибо, Ваш отзыв отправлен. В ближайшее время отзыв будет опубликован на сайте.
            </div>
            <div *ngIf="isAuthenficated && !commentSended" class="comment-form__wrapper">
                <form class="comment__form needs-validation" novalidate>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="email" class="form-control" [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched), 'is-valid': name.valid}" id="name" [formControl]="name" required placeholder="Имя">
                        <div class="invalid-feedback">
                            Обязательное поле
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Комментарий</label>
                        <textarea type="email" class="form-control" [ngClass]="{'is-invalid': comment.invalid && (comment.dirty || comment.touched), 'is-valid': comment.valid}" id="comment" [formControl]="comment" required placeholder="Комментарий"></textarea>
                        <div class="invalid-feedback">
                            Обязательное поле
                        </div>
                    </div>
                </form>
                <button (click)="addComment()" [disabled]="!form.valid" class="btn btn-submit">ДОБАВИТЬ ОТЗЫВ</button>
            </div>
            <div *ngIf="!isAuthenficated">
                <a class="comment__login" routerLink="/login" [queryParams]="{'returnUrl':'/comments'}">Для добавления отзыва войдите в систему</a>
            </div>
        </div>
    </div>
</div>
