﻿@import '../../../style/constants.scss';

$radius: 3px;

ul {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #F7F7F8;
    border-radius: $radius;
    overflow: hidden;
}

li {
    list-style: none;
    margin: 0;
    flex: 1;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 3px solid transparent;
    cursor: pointer;
    padding: 7px 0;

    &.prefix {
        font-weight: bold;
        flex: 0;
        cursor: default;
        white-space: nowrap;
        padding: 7px 21px;
    }

    &:hover:not(.prefix) {
        border-color: $main-color;
    }

    &.active {
        border-radius: $radius;
        border-color: $main-color;
        background-color: $main-color;
        font-weight: bold;
    }
}
