﻿<ul>
    <li *ngIf="prefix" class="prefix">{{prefix}}</li>
    <li *ngFor="let item of values" 
        [ngClass]="{ 'active': item === active}"
        (click)="changeActive(item)">{{item}}</li>
</ul>