@import '../../style/constants.scss';

:host {
    display: flex;
}

.btn-card {
    @include primary-btn();
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 149px;

    .count {
        margin-left: 16px;
        color: $text-color;
        font-size: 20px;
        font-weight: bold;
    }
}