﻿<button (click)="navigateCart()" class="btn btn-card" title="Корзина"><img src="/images/cart.png" /><span *ngIf="basketService.basket.Count" class="count">{{basketService.basket.Count}}</span></button>
