﻿<div class="fake-top" [style.height.px]="fakeHeight"></div>
<div class="navbar fixed-top navbar-expand-xl navbar-light">
    <div class="container">
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]="['/']">
                <img src="/images/logo.png" />
            </a>
            <a class='navbar-brand-small' [routerLink]="['/']">
                <img src="/images/logo-small.png" />
            </a>
        </div>
        <div class="navbar-top">
            <div class="navbar-delivery">
                <div class="navbar-collapse collapse">
                    <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
                        <li class="nav-item">
                            <a routerLink="/" fragment="menu" class="nav-link">Букеты</a>
                        </li>
                        <li class="nav-item__delimeter"></li>
                        <li class="nav-item">
                            <a routerLinkActive="active" routerLink="/delivery" class="nav-link">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider"></div>

            <div class="navbar-phone">
                <div class="navbar-phone__number">
                    <a class="full" href="tel:{{phoneNumberCall}}">{{phoneNumber}}</a>
                </div>
            </div>

            <div class="nav-item__delimeter"></div>

            <div class="navbar-login">
                <button (click)="toLogin()" *ngIf="!isAuthenficated" class="btn btn-default d-none d-sm-inline-block" title="Войти"><img src="/images/user.png" /></button>
                <button (click)="toProfile()" *ngIf="isAuthenficated" class="btn btn-default d-none d-sm-inline-block" title="Кабинет"><img src="/images/user.png" /></button>
            </div>

            <nav-card></nav-card>

            <button class="navbar-toggler" type="button" data-target="#navbarToggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/images/burger.png" />
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbarToggler">
            <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
                <li class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/about" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/delivery" class="nav-link">Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/contacts" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/comments" class="nav-link">Отзывы</a>
                </li>
                <li *ngIf="!isAuthenficated" class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/login" class="nav-link">Кабинет</a>
                </li>
                <li *ngIf="isAuthenficated" class="nav-item">
                    <a (click)="onNavigate()" routerLinkActive="active" routerLink="/profile" class="nav-link">Кабинет</a>
                </li>
            </ul>
        </div>
    </div>
</div>