@import '../../style/constants.scss';

.container {
    max-width: unset;
    padding: 0 0 0 40px;
    margin: 0;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    height: 120px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;

    .divider {
        flex: 999 9999 auto;
    }
}

.navbar-header {
    margin-right: 15px;
}

/* Nav bar links */
li > a.nav-link {
    margin: 0 30px;
    padding: 0;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: 5px solid transparent;
    border-width: 5px 0;
    display: flex;
    align-items: center;
    text-align: center;

    &:hover {
        background-color: #fff;
        color: $sub-text-color;
    }

    &:focus {
        background-color: transparent;
        color: $text-color;
    }

    &.active {
        color: $sub-text-color;
        border-bottom-color: $main-color;
    }
}

.nav-item {
    display: flex;
}

.nav-item__delimeter {
    border: 1px solid #d3d4d6;
    height: 38px;
    margin: auto 0;
}

li.link-active a,
li.link-active a:focus {
    color: $main-color;

    &:hover {
        color: $sub-text-color;
    }

    outline: none;
    background-color: transparent;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    vertical-align: unset;
    margin: 0;
    padding: 0;
}

.navbar-brand-small {
    display: none;
    transition: all ease 0.1s;
}

.navbar-login {
    display: flex;

    button {
        border: none;
        padding: 0 40px;
    }
}

.navbar-top {
    display: flex;
    height: 100%;
    flex: 1;
}

.navbar-delivery {
    flex: 1 1 auto;
    display: flex;
}

.navbar-phone {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.navbar-phone__number {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.4px;

    a {
        text-decoration: none;
        color: $text-color;
        white-space: nowrap;
    }
}

.navbar-delivery__fun {
    font-size: 14px;

    span {
        color: $main-color;
        font-size: 24px;
        font-weight: bold;
    }
}

.navbar-default {
    background-color: #fff;
    border-width: 0;
}

.navbar__phone {
    display: none;
}

.navbar-toggle {
    margin: 0 0 0 1em;
    padding: 12px 10px;
}

.collapse.in .navbar-nav {
    margin: 0;
}

.navbar-nav {
    height: 100%;
}

.fake-top {
    height: 82px;
}

.navbar-toggler {
    border: none;
    width: 117px;
    display: block;
}

@media (max-width:1199px) {
    .navbar-delivery {
        display: none;
    }
}

@media (min-width:1200px) {
    #navbarToggler {
        display: none !important;
    }
}

@media(min-width: 768px) {
    .divide-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-brand-small {
        display: block;
    }
}

@media (max-width: 350px) {
    .navbar-header {
        display: none;
    }
}
