﻿@import '../../style/constants.scss';

:host {
    position: relative;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.product-wrap {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.0979393);
    border-radius: 3px;
}

.product-list-row {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
}

.product-list-item {
    margin: 15px;
}

@media (max-width: 767px) {
    .product-wrap {
        max-width: 400px;
    }
}
