﻿<span class="navigation-context" id="menu"></span>
<h1>Наши букеты</h1>
<div *ngFor="let group of productGroups" class="product-list-row">
    <div *ngFor="let productList of group.Items" class="product-list-item">
        <product-item class="product-wrap" [productList]="productList"></product-item>
    </div>
</div>