﻿<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentTime}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li (click)="setTime(time)" *ngFor="let time of times">{{time}}</li>
    </ul>
</div>