﻿@import '../../style/constants.scss';

.btn-address {
    @include primary-btn();
    margin-top: 1em;
    margin-bottom: 50vh;
    padding: 12px 20px;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.street {
    input {
        width: 300px;
    }
}

.house {
    input {
        width: 100px;
    }
}

i {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: $main-color;
}

.active i {
    display: inline-block;
}

.form-group {
    position: relative;
}

.dropdown-menu {
    display: block;

    li {
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
    }
}

.city-name {
    padding: 0 10px;
    font-weight: bold;
}

.street-name {
    padding: 0 10px;
    font-size: 16px;
}

em.fa-times {
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}