﻿<div class="modal fade in" role="dialog" tabindex="-1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <em (click)="close()" class="fa fa-times"></em>
            <div class="modal-body">
                <h1>Куда доставить?</h1>
                <div class="form-inline">
                    <div class="form-group street" [ngClass]="{ active: currentStreet != null }">
                        <input type="text" class="form-control" placeholder="Улица" [formControl]="streetControl" />
                        <i *ngIf="currentStreet != null && currentStreet?.Avalable" class="fa fa-check"></i>
                        <i *ngIf="currentStreet != null && !currentStreet?.Avalable" class="fa fa-times"></i>
                        <ul *ngIf="possibleStreets.length" class="dropdown-menu">
                            <li *ngFor="let street of possibleStreets" (click)="setStreet(street)">
                                <div class="city-name">{{street.CityName}}</div>
                                <div class="street-name">{{street.StreetName}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group house" [ngClass]="{ active: currentBuilding != null }">
                        <input type="text" class="form-control" [disabled]="currentStreet == null || !currentStreet?.Avalable" [formControl]="buildingControl" placeholder="Дом" />
                        <i *ngIf="currentBuilding != null && currentBuilding?.Avalable" class="fa fa-check"></i>
                        <i *ngIf="currentBuilding != null && !currentBuilding?.Avalable" class="fa fa-times"></i>
                        <ul *ngIf="possibleBuildings.length" class="dropdown-menu">
                            <li *ngFor="let building of possibleBuildings" (click)="setBuilding(building)">
                                <div class="street-name">{{building.Name}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button (click)="acceptAddress()" [disabled]="currentStreet == null || currentBuilding == null || !currentStreet?.Avalable || !currentBuilding?.Avalable" class="btn btn-address">Подтвердить адрес</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>