﻿@import '../../style/constants.scss';

:host {
    display: block;
}

.wrap {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 1rem;
    margin-top: 1rem;
}

img {
    width: 100%;
}

.free-count {
    font-size: 15px;
    text-transform: uppercase;
    color: $main-color;
}

.product-caption {
    text-align: center;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 0;
    line-height: 18px;
}

.product-price {
    font-size: 21px;
    text-align: center;
}

.product-card__wrap {
    display: flex;
    justify-content: space-around;
}

.product-btn {
    @include primary-btn();
    border: 2px solid $main-color;
    background-color: #fff;
    color: $text-color;
    padding: 3px 12px;
    text-transform: uppercase;
    font-size: 15px;
}

.product-count-btn {
    @include primary-btn();
    font-size: 12px;
}

.product-card-count {
    display: flex;

    .product-footer__count {
        font-size: 21px;
        line-height: 30px;
        width: 50px;
        text-align: center;
    }
}

.product-bottom {
    bottom: 0;
}

.product-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 0;

    .divider {
        flex: 1 1 auto;
    }
}
