﻿<div *ngIf="free?.Count" class="wrap">
    <h3>{{groupName}} <span class="free-count" *ngIf="free?.Count > free?.InBasket">{{free?.Count - free?.InBasket}} бесплатно</span></h3>

    <div class="row">
        <div *ngFor="let product of products" class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="product-wrap">
                <div>
                    <img [src]="product?.ImageUrl" title="{{product?.Name}}" />
                </div>
                <div class="product-caption">
                    {{product.Name}}
                </div>
                <div class="divider"></div>
                <div class="product-price">
                    <ng-template [ngIf]="!product.CanFree || free?.Count <= free?.InBasket">
                        {{getPrice(product)}} &#8381;
                    </ng-template>
                    <ng-template [ngIf]="product.CanFree && free?.Count > free?.InBasket">
                        Бесплатно
                    </ng-template>
                </div>
                <div class="product-card__wrap">
                    <div *ngIf="product?.IsForSale" class="product-card-count">
                        <div *ngIf="count(product) > 0">
                            <button class="btn product-count-btn" (click)="removeFromCard(product)">
                                <em class="fa fa-minus"></em>
                            </button>
                        </div>
                        <div *ngIf="count(product) > 0" class="product-footer__count">
                            {{count(product)}}
                        </div>
                        <div *ngIf="count(product) > 0" (click)="addToCard(product)">
                            <button class="btn product-count-btn">
                                <em class="fa fa-plus"></em>
                            </button>
                        </div>
                        <div class="product-card">
                            <button *ngIf="count(product) == 0" (click)="addToCard(product)" class="btn product-btn">В корзину</button>
                        </div>
                    </div>
                    <ng-template [ngIf]="!product?.IsForSale">
                        <div class="product-not-available">
                            Нет в наличии
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
